# Fichiers d'environnement
.env

# Environnements virtuels Python
.venv/
venv/
env/

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers systemes et IDE
.vscode/
.idea/
.DS_Store

# Données générées (contenu dynamique, pas le dossier)
raw_data/*
!raw_data/.gitkeep

archive/*
!archive/.gitkeep

data_lake/airbnb_clean/*
!data_lake/airbnb_clean/.gitkeep
